{% extends 'base/question.html' %}
{% load static %}
{% load cache %}
{% load filters %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 ask_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="perguntar">
        <a href="#perguntar">Perguntar</a>
    </div>
    <div class="sub-link" focus="minhas-perguntas">
        <a href="#minhas-perguntas">Minhas perguntas</a>
    </div>
</nav>
{% endcache %}

<div class="app">
    <h1 class="poppins">Faça sua pergunta</h1>
    <form class="question" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_username" value="{{username}}">
        <textarea name="question" id="id_question" placeholder="O que deseja saber?" spellcheck="false"></textarea>
        <div class="question-footer">
            <div class="username">
                <img src="{% static 'assets/apps/asks/global/user.svg' %}" alt="user-img">
                <span>{{username}}</span>
            </div>
            <div class="division-for-buttons">
                <select>
                    <option value="0">Selecionar tema</option>
                    {% if themes %}
                    {% for theme in themes %}
                    {% if selected and selected == theme.name %}
                    <option value="1" selected>{{ theme.name }}</option>
                    {% else %}
                    <option value="1">{{ theme.name }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <input type="hidden" name="theme" id="id_theme" value="is_none">
                <input type="hidden" name="process" id="id_process" value="register_question">
                <button type="submit" class="send">Enviar</button>
            </div>
        </div>
    </form>
    <h2 class="poppins">Enviadas recentemente</h2>
    {% for question in my_questions|slice:3 %}
        <div class="question my-questions" theme="{{ question|get_item:'theme' }}" order="{{ question|get_item:'order' }}">
            <p class="question-text">
                {{ question|get_item:'text' }}
            </p>
            <div class="question-footer">
                <div class="clock icon-text">
                    <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                    <span>{{ question|get_item:'horary' }}</span>
                </div>
                <form class="edit-question icon-text" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="creator" id="id_creator" value="{{username}}">
                    <input type="hidden" name="text" id="id_text" value="{{ question|get_item:'text' }}">
                    <input type="hidden" name="theme" id="id_theme" value="{{ question|get_item:'theme' }}">
                    <input type="hidden" name="process" id="id_process" value="delete_question">
                    <button type="submit" class="icon-text">
                        <img src="{% static 'assets/apps/asks/global/trash.svg' %}" alt="trash-img">
                        <span>Excluir</span>
                    </button>
                </form>
            </div>
        </div>
    {% empty %}
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">        
{% endfor %}
</div>

<div class="app select">
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div> 
    {% endcache %}
    {% for question in my_questions %}
    <div class="question my-questions" theme="{{ question|get_item:'theme' }}" order="{{ question|get_item:'order' }}">
        <p class="question-text">
            {{ question|get_item:'text' }}
        </p>
        <div class="question-footer">
            <div class="clock icon-text">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>{{ question|get_item:'horary' }}</span>
            </div>
            <form class="edit-question icon-text" method="POST">
                {% csrf_token %}
                <input type="hidden" name="creator" id="id_creator" value="{{username}}">
                <input type="hidden" name="text" id="id_text" value="{{ question|get_item:'text' }}">
                <input type="hidden" name="order" id="id_order" value="{{ question|get_item:'order' }}">
                <input type="hidden" name="process" id="id_process" value="delete_question">
                <button type="submit" class="icon-text">
                    <img src="{% static 'assets/apps/asks/global/trash.svg' %}" alt="trash-img">
                    <span>Excluir</span>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% for theme in none_themes %}
    <div class="my-questions qr" theme="{{ theme }}">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script src="{% static  'scripts/apps/asks/selectInput.js' %}"></script>
{% endblock %}