{% extends 'base/question.html' %}
{% load static %}
{% load cache %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 ask_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="perguntar">
        <a href="#perguntar">Perguntar</a>
    </div>
    <div class="sub-link" focus="minhas-perguntas">
        <a href="#minhas-perguntas">Minhas perguntas</a>
    </div>
</nav>
{% endcache %}


<div class="app">
    <h1 class="poppins">Faça sua pergunta</h1>
    <div class="question text-area">
        <textarea name="question" id="id_question" placeholder="O que deseja saber?" spellcheck="false"></textarea>
        <div class="question-footer">
            <div class="username">
                <img src="{% static 'assets/apps/asks/global/user.svg' %}" alt="user-img">
                <span>{{username}}</span>
            </div>
            <div class="division-for-buttons">
                <select>
                    <option value="0">Selecionar tema</option>
                    {% for theme in themes %}
                    <option value="{{theme.id}}">{{ theme.name }}</option>
                    {% endfor %}
                </select>
                {% csrf_token %}
                <input type="hidden" name="username" id="id_username" value="{{username}}">
                <input type="hidden" name="theme" id="id_theme" value="0">
                <button type="submit" class="send">Enviar<div class="send-loader" style="display: none;"></div></button>
            </div>
        </div>
    </div>
    <div class="icon-text-message message" style="display: none;">
        <img src="" alt="message-img">
        <span></span>
    </div>
    <div class="icon-text-message message sheets" display="display: block;"><span>ㅤ</span></div>
    <h2 class="poppins">Enviadas recentemente</h2>
    {% if page == '1' %}
    {% include 'apps/asks/includes/_messages.html' %}
    {% endif %}
    <div class="questions-saved">
        {% cache 1800 select_theme %}
        <div class="my-questions qr visible" theme="Selecionar tema">
            <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
        </div> 
        {% endcache %}        
    </div>
</div>

<div class="app select">
    {% if page == '2' %}
    {% include 'apps/asks/includes/_messages.html' %}
    {% endif %}
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div> 
    {% endcache %}
    <div class="all-my-questions">
    </div>
</div>

<input type="hidden" id="code" value="{{ code }}">
{% endblock %}

{% block javascript %}
<script src="{% static  'scripts/apps/asks/selectInput.js' %}"></script>
<script type="module" src="{% static  'scripts/apps/api/ask/api.js' %}"></script>
{% endblock %}
