{% extends 'base/question.html' %}
{% load static %}
{% load cache %}
{% load filters %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/records.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 records_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="perguntas">
        <a href="#perguntas">Perguntas respondidas</a>
    </div>
    <div class="sub-link" focus="ranking">
        <a href="#ranking">Ranking</a>
    </div>
</nav>
{% endcache %}

<div class="app select">
    {% include 'apps/asks/includes/_messages.html' %}        
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>      
    {% endcache %}
    <div class="answered-questions"></div>
</div>





<div class="app select">
    {% include 'apps/asks/includes/_messages.html' %}    
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div> 
    {% endcache %}
 <div class="questions-for-end-ranking"></div>
</div>
{% endblock %}


{% block javascript %}
<script type="module" src="{% static  'scripts/apps/api/records/api.js' %}"></script>
{% endblock %}