{% extends 'base/question.html' %}
{% load static %}
{% load cache %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/settings.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 settings_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="temas">
        <a href="#temas">Temas</a>
    </div>
    <div class="sub-link" focus="dados">
        <a href="#dados">Dados</a>
    </div>
    <div class="sub-link" focus="sala">
        <a href="#sala">Sala</a>
    </div>
</nav>
{% endcache %}

{% include 'apps/asks/includes/_messages.html' %} 
<div class="app">
    <div class="state-themes"></div>   
    {% if admin %}
    <h2>Criar temas</h2>
    <form method="post" autocomplete="off">
        <input type="text" name="theme" id="id_theme" placeholder="Tema">
        {% csrf_token %}
        <button type="submit" class="button-blue-white" name="action" id="id_action" value="add">Adicionar Tema</button>
    </form>
    {% endif %}
</div>


<div class="app">
    <h1>Principais dados da sala</h1>
    <div class="main-data"></div>  
</div>


<div class="app">
    {% if not admin %}
    <h2>Virar admin</h2>
    <form method="post" autocomplete="off">
        <input type="password" name="password" id="id_password" placeholder="Senha de admin">
        {% csrf_token %}
        <button type="submit" class="button-blue-white" name="action" id="id_action" value="change">Virar admin</button>
    </form>
    {% endif %}
    <h2>Sair da sala</h2>
    <a href="{% url 'logout' %}"><button class="button-blue-white button-red-white">Sair da sala</button></a>
</div>


{% endblock %}

{% block javascript %}
{% if admin %}
<script type="module" src="{% static  'scripts/apps/api/settings/apiAdmin.js' %}"></script>
{% else %}
<script type="module" src="{% static  'scripts/apps/api/settings/api.js' %}"></script>
{% endif %}
<script src="{% static  'scripts/apps/asks/settings.js' %}"></script>
{% endblock %}