{% extends 'base/question.html' %}
{% load static %}
{% load cache %}


{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 vote_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="perguntas">
        <a href="#perguntas">Perguntas</a>
    </div>
    <div class="sub-link" focus="ranking">
        <a href="#ranking">Ranking</a>
    </div>
</nav>
{% endcache %}

<div class="app select">
    {% include 'apps/asks/includes/_messages.html' %}
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>     
    {% endcache %}
    <div class="questions-for-vote"></div>
</div>


<div class="app select">
    {% include 'apps/asks/includes/_messages.html' %}    
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>     
    {% endcache %}
    <div class="questions-for-ranking"></div>
</div>
<input type="hidden" id="code" value="{{ code }}">
<input type="hidden" id="username" value="{{ username }}">
<input type="hidden" id="user_key" value="{{ user_key }}">
{% if admin %}
<input type="hidden" id="admin_key" value="{{ admin_key }}">
{% endif %}
{% endblock %}

{% block javascript %}
{% if admin %}
<script type="module" src="{% static  'scripts/apps/api/vote/apiAdmin.js' %}"></script>
{% else %}
<script type="module" src="{% static  'scripts/apps/api/vote/api.js' %}"></script>
{% endif %}
{% endblock %}