{% extends 'base/question.html' %}
{% load static %}
{% load cache %}
{% load filters %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/apps/asks/ask.css' %}">
<link rel="stylesheet" href="{% static 'styles/apps/asks/vote.css' %}">
<style>
    .app{display: none;}
    .visible{display: inline-block;}
    .invisible{display: none;}
</style>
{% endblock %}

{% block content %}

{% cache 1800 vote_sub_header %}
<nav class="sub-nav">
    <div class="sub-link" focus="perguntas">
        <a href="#perguntas">Perguntas</a>
    </div>
    <div class="sub-link" focus="ranking">
        <a href="#ranking">Ranking</a>
    </div>
</nav>
{% endcache %}

<div class="app select">
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>     
    {% endcache %}
    {% for theme_name, questions in questions_for_vote.items %}
    {% for question in questions %}
    <div class="question my-questions" theme="{{ theme_name }}">
        <p class="question-text">
            {{ question.text }}
        </p>
        <div class="question-footer">
            <div class="clock icon-text">
                <img src="{% static 'assets/apps/asks/global/clock.png' %}" alt="clock-img">
                <span>{{ question|horary }}</span>
            </div>
            <form class="edit-question icon-text" method="POST">
                {% csrf_token %}
                <input type="hidden" name="text" id="id_text" value="{{ question.text }}">
                <input type="hidden" name="theme" id="id_theme" value="{{ theme_name }}">
                <input type="hidden" name="username" id="id_theme" value="{{ username }}">
                {% if admin %}
                <button class="icon-text" type="submit" value="mark" name="action" id="id_action">
                    <span>Marcar como respondida</span>
                    <img src="{% static 'assets/global/check.svg' %}" alt="check">
                </button>
                {% endif %}
                <button class="icon-text action" type="submit" value="down" name="action" id="id_action">
                    <span>DOWN</span>
                    <img src="{% static 'assets/apps/asks/vote/deslike.png' %}" alt="deslike">
                </button>
                <button class="icon-text action" type="submit" value="up" name="action" id="id_action">
                    <span>UP</span>
                    <img src="{% static 'assets/apps/asks/vote/like.png' %}" alt="like">
                </button>
                <button class="icon-text action seta-last" type="submit" value="pass" name="action" id="id_action">
                    <span>PASS</span>
                    <img src="{% static 'assets/apps/asks/vote/seta.png' %}" alt="seta">
                </button>
            </form>
        </div>
    </div>
    {% empty %}
    <div class="my-questions qr" theme="{{ theme_name }}">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>    
    {% endfor %}
    {% endfor %}
</div>
<div class="app select">
    {% include 'apps/asks/includes/_select_theme.html' %}
    {% cache 1800 select_theme %}
    <div class="my-questions qr visible" theme="Selecionar tema">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>     
    {% endcache %}
    {% for theme_name, questions in questions_for_ranking.items %}
    {% for question in questions %}
    <div class="question my-questions" theme="{{ question|theme }}">
        <p class="question-text">
            {{ question.text }}
        </p>
        <div class="question-footer">
            <div class="clock icon-text">
                <div class="username">
                    <img src="{% static 'assets/apps/asks/global/user.svg' %}" alt="user-img">
                    <span>{{ question.creator }}</span>
                </div>
            </div>
            <ul class="edit-question icon-text">
                {% if admin %}
                <form class="edit-question icon-text" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="text" id="id_text" value="{{ question.text }}">
                    <input type="hidden" name="theme" id="id_theme" value="{{ question|theme }}">
                    <input type="hidden" name="username" id="id_theme" value="{{ username }}">
                    <button class="icon-text" type="submit" value="mark" name="action" id="id_action">
                        <span>Marcar como respondida</span>
                        <img src="{% static 'assets/global/check.svg' %}" alt="check">
                    </button>
                </form>
                {% endif %}
                <li class="icon-text">
                    <span>{{ question.down_votes }}</span>
                    <img src="{% static 'assets/apps/asks/vote/deslike.png' %}" alt="deslike">
                </li>
                <li class="icon-text">
                    <span>{{ question.up_votes }}</span>
                    <img src="{% static 'assets/apps/asks/vote/like.png' %}" alt="like">
                </li>
            </ul>
            </form>
        </div>
    </div>
    {% empty %}
    <div class="my-questions qr" theme="{{ theme_name }}">
        <img src="{% static 'assets/global/questions-representation.png' %}" alt="questions-representation" class="questions-representation">
    </div>     
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script src="{% static  'scripts/apps/asks/changeVoteImage.js' %}"></script>
<script src="{% static  'scripts/apps/asks/vote.js' %}"></script>
{% endblock %}